<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringBoardProject:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringBoardProject_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringBoardProject/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringBoardProject" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.19" />
          <element id="library" level="project" name="jstl" />
        </element>
      </element>
    </root>
  </artifact>
</component>